

.sidenav-container {
  height: 100vh;
}

.mini-sidenav {
  width: 60px; /* sidebar fininha */
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding: 10px;
  text-align: center;
}

.mat-nav-list {
  margin-top: 20px;
  width: 100%;
}

.mat-nav-list .mat-list-item {
  justify-content: center; /* centraliza os ícones */
  padding: 12px 0;
}

.icon-only mat-icon {
  font-size: 24px;
  color: #004d40;
}

.active-link mat-icon {
  color: #009688; /* destaque quando ativo */
}

.content {
  padding: 16px;
}
